.version-list__body {
	margin-top: -0.35rem;
    padding: 0;
}

.version-list__rows {
    list-style: none;
    margin: 0;
    padding: 0;
}

.version-list__row + .version-list__row {
    border-top: 1px solid #dddbda;
}

.version-list__body {
	position: relative;
	display: block;
	min-height: 3rem;
}