.gcdc-hidden {
    display:none
}

.full-page-container {
    height: 100%;
}

.full-page-header {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid rgb(201, 201, 201);
}

.full-page-content {
    height: 100%;
    position: relative;
}

.full-page-datatable {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.full-page-datatable-scroller {
    position: relative;
    width: 100%;
    height: 100%;
    transform: none;
    position: static;
    outline: none;
    -webkit-overflow-scrolling: auto;
}

.full-page-datatable-scroller .native {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.full-page-datatable-scroller-files {
    -webkit-touch-callout: default;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    min-width: 100%;
    transform: none;
    position: static;
}

.sortable-column {
    cursor: pointer;
    transition: background-color .2s;
}

.sortable-column:hover,
.sortable-column.active {
    background-color: #f4f6f9;
}
